.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding-top: 11px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;

  border-bottom: 1px solid #e6e6e6;
}

.page-header__logo[href] {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__menu-toggle {
  display: block;
  width: 18px;
  height: 18px;
  margin: 0;
  margin-right: 3px;
  padding: 0;

  background-color: transparent;
  border: none;

  &--close::before {
    content: "";

    display: block;
    width: 18px;
    height: 18px;

    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--open {
    width: 24px;
    height: 18px;
  }

  &--open::before {
    content: "";

    display: block;
    width: 24px;
    height: 18px;
    margin-left: 3px;

    background-image: url("../img/icon-mobile-menu.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    margin: 0 auto;
    margin-bottom: 36px;
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .page-header--index {
    margin-bottom: 56px;
  }

  .page-header__inner {
    flex-shrink: 0;
    margin-right: auto;
  }

  .page-header__wrapper {
    width: auto;
    margin: 0;
    padding: 0;

    border: none;
  }

  .page-header__menu-toggle {
    display: none;
  }

  .page-header__logo {
    width: 173px;
    height: 58px;
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1300px;
    margin-bottom: 44px;
    padding-top: 62px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .page-header--index {
    margin-bottom: -3px;
  }

  .page-header__logo {
    width: 202px;
    height: 59px;
    margin-top: -9px;
    padding: 0;
  }

  .page-header__logo-image {
    width: 100%;
    height: auto;
  }
}
