.page-footer__inner {
  padding: 0 20px;
  padding-top: 38px;
  padding-bottom: 22px;

  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  background-color: $bg-grey;
}

.page-footer__logo {
  margin-bottom: 29px;

  display: flex;
  justify-content: center;
}

.page-footer__logo-title {
  margin: 0;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}


@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    background-color: $bg-grey;
  }

  .page-footer__inner {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 51px;
    padding-bottom: 55px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 768px;
    background-color: transparent;
  }

  .page-footer__logo {
    margin: 0;
    margin-top: 6px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__inner {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 54px;
    width: 1300px;
  }
}
